<!DOCTYPE html>

<html>
<head>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <title>Audi CRM/Loyalty Ideas</title>
</head>

 <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
 <link rel="stylesheet" type="text/css" href="/css/theme.css">
<body>
  <div class="ideaDropdown">
    <h4>Idea Groups</h4>
  </div>
  <div class="dotplot"></div>
</body>
<script src="/js/underscore.js" charset="utf-8"></script>
<script src="/js/chart.js" charset="utf-8"></script>
</html>