.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: none;
}

.tooltip {
  position: absolute;
  width: 300px;
  min-height: 28px;
  pointer-events: none;
  padding: 5px;
}

.ideaDropdown {
  margin-left: 100px;
  margin-top: 50px;
}